 /**
 * 公共样式
 *
 **/
 
 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", Helvetica, sans-serif;
  }
  
  body,
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    background-color: #e9eef3;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    vertical-align: middle;
    border: 0;
  }
  
  
  .sub-content {
    background-color: #fff;
    padding: 10px 15px;
    min-width: 750px;
  }
  
  .el-table--medium td,
  .el-table--medium th {
    padding: 8px 0;
  }
  
  td .el-button--small,
  td .el-button--small.is-round {
    padding: 3px 0px;
  }
  
  .el-input--medium .el-input__inner {
      height: 32px;
      line-height: 32px;
  }
  
  .common-list .el-dialog__body {
    padding: 10px 20px;
  }
  
  .common-list .search-group{
    text-align: right;
    font-size: 14px;
    color: #5a5e66;
  }
  
  .common-list .search-group .el-input{
    width: 150px;
    margin-right: 10px;
  }
  
  .common-list .search-group .el-input,
  .common-list .search-group .el-button {
    display: inline-block;
  }
  
  .common-list .search-group .el-button {
    padding: 8px 20px;
  }
  